@model  ATT.Alexa.Office365.Service.Models.CompanyViewModel
@{
    ViewBag.Title = "Alexa Office 365 Account Link.";
}

@using (Html.BeginForm("Authenticate", "Account", FormMethod.Post))
{
    <span class="ms-font-xl">Please select your company from the dropdown box.</span>
    <div id="configs" class="ms-Grid">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                <div class="ms-Dropdown">
                    <label class="ms-Label">Company</label>
                    <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                    @Html.DropDownListFor(model => model.SelectedCompanyId, Model.Companies, new { @class = "ms-Dropdown-select" })
                </div>
            </div>
        </div>
    </div>

    <div class="ms-CommandButton">
        <button type="submit" class="ms-Button ms-Button--primary">
            <span class="ms-Button-label">Select Company</span>
        </button>
    </div>
}


