@model  ATT.Alexa.Office365.Models.Company

@{
    ViewBag.Title = "Alexa Office 365 Company Sucessfully Added";
}

<span class="ms-font-xl">Congratulations your company was successfully added to the system.</span></br>
<span class="ms-font-m">You may now add the Alexa Office 365 Skill to your Alexa application.</span></br>
